<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Foundation.Forms" description="Foundation Forms" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
                    <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\Forms\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Foundation.Forms.WFFMFieldLocation" database="master" path="/sitecore/system/Modules/Web Forms for Marketers/Settings/Field Types/Custom" />
                    </predicate>
                    <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\Foundation\Forms\serialization\Foundation.Forms.Roles" singleInstance="true"/>
                    <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
                        <include domain="modules" pattern="^Foundation Forms .*$" />
                    </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>