<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <sites>
          <site name="weffmengine" patch:before="site[@name='website']"
                hostName="$(rootHostName).weffmengine.$(domainExtension)"
                database="web"
                virtualFolder="/"
                physicalFolder="/"
                rootPath="/sitecore/content/WFFMEngine"
                startItem="/Home"
                dictionaryPath="/sitecore/content/weffmengine/modules/dictionary"
                dictionaryAutoCreate="false"
                placeholderSettingsRoot="/sitecore/layout/Placeholder Settings/Project/WFFMEngine"
                domain="wffmengine"
                allowDebug="true"
                cacheHtml="true"
                htmlCacheSize="50MB"
                registryCacheSize="0"
                viewStateCacheSize="0"
                xslCacheSize="25MB"
                filteredItemsCacheSize="10MB"
                enablePreview="true"
                enableWebEdit="true"
                enableDebugger="true"
                disableClientData="false"
                cacheRenderingParameters="true"
                renderingParametersCacheSize="10MB"
                formsRoot="{F225D213-029E-4F0A-8F76-853DAEB83871}"
                loginPage="/login"
                enableItemLanguageFallback="true" ></site>
      </sites>
  </sitecore>
</configuration>
