<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.WFFMEngine.Website" description="WFFMEngine content" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
                    <targetDataStore physicalRootPath="$(sourceFolder)\project\WFFMEngine\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="WFFMEngine.Website.Content" database="master" path="/sitecore/content/WFFMEngine" />
                        <include name="WFFMEngine.Website.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/WFFMEngine" />
                        <include name="WFFMEngine.Website.Renderings" database="master" path="/sitecore/layout/renderings/Project/WFFMEngine" />
                        <include name="WFFMEngine.Website.Templates" database="master" path="/sitecore/templates/Project/WFFMEngine" />                       
                        <include name="WFFMEngine.Website.Layouts" database="master" path="/sitecore/layout/layouts/Project/WFFMEngine" />                        
                        <include name="WFFMEngine.Website.Wffm.FormsLocation" database="master" path="/sitecore/system/Modules/Web Forms for Marketers/Project/WFFMEngine" />                        
                        <include name="WFFMEngine.Website.Media" database="master" path="/sitecore/media library/Project/WFFMEngine" />                        
                    </predicate>
                    <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\project\WFFMEngine\serialization\Project.WFFMEngine.Roles" singleInstance="true" />
                    <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
                        <include domain="WFFMEngine" pattern="^Project WFFMEngine .*$" />
                    </rolePredicate>
                    <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\project\WFFMEngine\serialization\Project.WFFMEngine.Users" singleInstance="true" />
                    <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
                        <include domain="WFFMEngine" pattern="^((?!Anonymous).)*$" />
                    </userPredicate>
                    <userSyncConfiguration removeOrphans="true" defaultPassword="b" minPasswordLength="1" type="Unicorn.Users.Loader.DefaultUserSyncConfiguration, Unicorn.Users" singleInstance="true" />
                    <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="true" updateSearchIndex="true" maxConcurrency="1" />
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
